.overflow{
    height: 200px;
    width: 200px;
    margin-bottom: 20px;
    background-color: red;
    border: solid 2px;
    margin-left: 150px;
    margin-top: 110px;
}

.box{
    text-align: center;
    border: solid 2px;
    background-color: greenyellow;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin-left: 150px;
    margin-top: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.box-1{
    position: absolute;
    top: 0px;
    left: 0px;
}

.box-2{
    position: absolute;
    top: 0px;
    left: 200px;
}

.box-3{
    position: absolute;
    top: 200px;
    left: 0px;
}

.box-4{
    position: absolute;
    top: 200px;
    left: 200px;
}




